<head> <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
</head>

<style> 
input {
  width: 50%;
  padding: 10px;
}
</style>

<style>
img {
  display:block;
  margin-left:auto;
  margin-right: auto;
  padding: 20px;
  }
</style>

<img src="https://i.guim.co.uk/img/media/0fb11385fcc8d6bc91d472518a5f00754f3c7ecc/0_0_1024_614/master/1024.jpg?width=700&quality=85&auto=format&fit=max&s=e0eacdf1a826da026dcb9e2e104e8d96" alt="Bunker" width="100%" height="50%">

<body style="background-color:rgb(100, 94, 75);">

  <div  style="text-align:center;font-family:Orbitron;font-size:50px;color:white;text-shadow:2px 2px #000000;">
    <h1> Book a Bunker!</h1>


<img src="https://media.giphy.com/media/tAPkUnA2GQNVK/giphy.gif" alt="atomic">

<a href="/manage_property"><button>Manage Properties</button></a>
  </div>



<ul>
  <% @properties.each do |property| %>
  <li> <%=property.name%> <%=property.description%> <%=property.price%>
    <form action="/booking/<%=property.property_id%>/<%=property.host_id%>" method="get">
      <input type="submit" value="Book property">
    </form>
  </li>
  <% end %>
</ul>

User: <%= @username%>
User ID: <%= @user_id %>
