Welcome to Bunker!

<ul>
  <% @properties.each do |property| %>
  <li> <h3><%=property.name%></h3> <%=property.description%> - £<%=property.price%> a night
    <form action="/booking/<%=property.property_id%>/<%=property.host_id%>" method="get">
      <input type="submit" value="Book property">
    </form>
  </li>
  <% end %>
</ul>


<a href="/manage_property"><button>Manage Properties</button></a>
