Welcome to Bunker!

<a href="/add_property"><button>Manage Properties</button></a>

<ul>
  <% @properties.each do |property| %>
  <li> <%=property.name%> <%=property.description%> <%=property.price%>
    <form action="/booking/<%=property.property_id%>/<%=property.host_id%>" method="get">
      <input type="submit" value="Book property">
    </form>
  </li>
  <% end %>
</ul>

User: <%= @username%>
User ID: <%= @user_id %>
